@import "../../vars.css";

.container {
  color: var(--color-text-white);
  margin-top: 100px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  background-color: var(--color-primary);
  overflow: hidden;
}

.text {
  margin-bottom: 40px;
}

.text h2 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.text p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.address {
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  margin-left: 10%;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.link img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.link a:hover {
  color: var(--color-secondary); /* Färgändring vid hover */
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 80px;
    padding: 30px;
  }

  .info {
    flex-direction: column; /* Gör info-sektionen vertikal */
    align-items: center;
    gap: 30px;
  }

  .address {
    text-align: center; /* Centrerar adress på små skärmar */
    margin-left: 0;
  }

  .links {
    align-items: center;
  }

  .link img {
    width: 35px;
    height: 35px;
  }

  .link a {
    font-size: 18px;
  }
}
